.container {
  max-width: $default-width;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include respond(desktop-lg) {
    max-width: $large-width;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;

  @include respond(mobile-land) {
    flex-direction: column;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
  position: relative;
  padding: 0 1.5rem;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  @include respond(mobile-land) {
    max-width: 100%;
  }
}

.col-1:not(:first-child),
.col-2:not(:first-child),
.col-3:not(:first-child),
.col-4:not(:first-child),
.col-5:not(:first-child),
.col-6:not(:first-child),
.col-7:not(:first-child),
.col-8:not(:first-child),
.col-9:not(:first-child),
.col-10:not(:first-child),
.col-11:not(:first-child),
.col-12:not(:first-child) {
  @include respond(mobile-land) {
    margin-top: 3rem;
  }
}

.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}
.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}
.order-8 {
  order: 8;
}
.order-9 {
  order: 9;
}
.order-10 {
  order: 10;
}
.order-11 {
  order: 11;
}
.order-12 {
  order: 12;
}
