.navbar {
  position: relative;
  display: flex;
  align-items: center;
  color: $color-gray-violet;
  font-size: $navbar-font;
  font-weight: $font-weight-bold;

  // Logo
  &__logo {
    font-size: 0;

    @include respond(mobile-land) {
      align-self: flex-start;
    }
  }

  // Toggler
  &__toggler {
    display: none;
    position: absolute;
    top: 4rem;
    right: 2rem;
    padding: 1rem 0.5rem;
    border: 0;
    border-radius: 3px;
    outline: 0;
    background-color: transparent;
    cursor: pointer;

    @include respond(mobile-land) {
      display: block;
    }

    @include respond(small-height) {
      z-index: 20;
      background-color: $color-gray;
    }

    &:hover {
      .navbar__toggler--line {
        background-color: $color-violet;
      }
    }

    &--line {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $color-gray-violet;
      transition: $default-transition;

      &-1 {
        transform: translateY(-6px);
      }

      &-3 {
        transform: translateY(6px);
      }
    }
  }

  // Change Toggler
  .change .navbar__toggler--line-1 {
    transform: rotate(45deg) translate(2px, 2px);
  }
  .change .navbar__toggler--line-2 {
    opacity: 0;
  }
  .change .navbar__toggler--line-3 {
    transform: rotate(135deg) translate(-2px, 2px);
  }

  // Menu
  &__menu {
    width: 100%;
    display: flex;
    align-items: center;

    @include respond(mobile-land) {
      position: fixed;
      top: 7rem;
      right: 2rem;
      z-index: 10;
      width: 90%;
      margin-top: 2rem;
      background-color: $color-violet;
      border-radius: 1.5rem;
      opacity: 0;
      visibility: hidden;
      transform: translateX(120%);
      transition: transform 0.2s ease-in, opacity 0.25s ease;
    }

    @include respond(small-height) {
      top: 0;
      margin-top: 1rem;
    }
  }

  // List
  &__list {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 4rem;

    @include respond(mobile-land) {
      width: 100%;
      margin-left: 0;
      margin-top: 2rem;
    }
  }

  &__list:not(:last-child)::after {
    content: '';
    width: 90%;
    height: 2px;
    background-color: $color-violet-light;
    margin-top: 1.5rem;
  }

  // Registration List
  &__registration {
    margin-left: auto;

    @include respond(mobile-land) {
      margin: 2rem 0;
    }
  }

  // Item
  &__item:not(:first-child) {
    margin-left: 3rem;

    @include respond(mobile-land) {
      margin-left: 0;
    }
  }

  &__item {
    @include respond(mobile-land) {
      width: 100%;
      margin: 1.5rem 0;
    }

    @include respond(small-height) {
      margin: 1rem 0;
    }
  }

  // Link
  &__link {
    color: inherit;
    transition: color 0.2s;

    &:hover {
      color: $color-dark-violet;
    }

    @include respond(mobile-land) {
      color: $color-gray;

      &:hover {
        color: $color-primary;
      }
    }
  }

  // Common Media Query
  &,
  &__menu,
  &__list {
    @include respond(mobile-land) {
      flex-direction: column;
    }
  }
}

// Toggle Mobile Menu
.active .navbar__menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
