.start {
  position: relative;
  &__bg {
    background-color: $color-violet;
    width: 100%;

    @include respond(tab-port) {
      height: 30rem;
    }

    img {
      width: 100%;
      height: 100%;

      @include respond(tab-port) {
        height: 30rem;
      }
    }
  }

  &__group {
    @include absCenter;
    text-align: center;
  }

  &__heading {
    font-size: 4rem;
    color: $color-gray;
    margin-bottom: 2rem;

    @include respond(mobile-land) {
      font-size: 3.5rem;
    }

    @include respond(mobile) {
      font-size: 2.5rem;
    }
  }

  &__btn {
    padding: 1.2rem 3.5rem;
    font-size: 1.6rem;
    font-weight: $font-weight-bold;

    @include respond(mobile) {
      font-size: $btn-font;
    }
  }
}
